.home {
    display: flex;
    justify-content: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: auto;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content h1 {
    font-size: 60px;
    font-family: cursive;
}
.content h2 {
    font-size: 44px;
    font-family: monospace;
}
button.btn.btn-dark {
    margin-left: 52px;
    width: 150px;
    height: 50px;
}
@media only screen and (max-width: 650px) {
    .content
     {
      justify-content: center;
      align-items: center;
    }
    .content {
        margin-left: 0px;
        border-radius: 10px;
        padding: 10px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #121619;
        color: white;
      }
      .content h1 {
        font-size: 40px;
        height: 30px;
        color: white;
      }
      .content p {
        font-size: 30px;
        color: white;
      }
      .content button {
        background-color: white;
        color: #121619;
        margin-bottom: 30px;
      }
      .content button:hover {
        background-color: rgb(225, 225, 225);
        color: #121619;
      }
    
    
}

