.active{
    background-color: #37393f;
}

navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121619;
    color: white;
    position: sticky;
    top: 0;
}

navbar .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

navbar ul {
    display: flex;
}

navbar ul li {
   list-style: none; 
}

navbar ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}

navbar ul li a:not(.active):hover {
    background-color:#172554 ;
}

navbar .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

navbar .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}


@media (max-width: 480px) {
    navbar .menu {
        display: flex;
    }

    navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    navbar ul.open {
        display: flex;
    }

    navbar ul li {
        width: 100%;
        text-align: center;
    }

    navbar ul li a {
        margin: 0.2rem 0.5rem;
    }
}